@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 pink-text">VS HTML Submission</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2_ayFz62eYE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
    <button onclick="myMove()">Click Please</button>
</p>

<div id="myContainer">
    <div id="myAnimation"></div>
</div>

